* {
    box-sizing: border-box;
}

:root {
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
}

/* Common */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 58px;
    height: var(--height);
    min-width: 149px;
    display: inline-flex;
    align-self: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: var(--height);
    border-radius: 99px;
    background: #212832;
}

.section__heading {
    color: #212832;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 12px;
}

.section__desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 20px;
}

.subject {
    position: relative;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding-left: 30px;
}

.subject::before {
    position: absolute;
    content: "  ";
    background: #696d77;
    width: 18px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* Header */
.header {
    padding: 42px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}

.navbar {
    margin-left: 70px;
}

.navbar .navbar__list {
    display: flex;
    align-items: center;
}

.navbar__list .navbar__link {
    position: relative;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    padding: 6px 0;
    margin: 0 24px;
    transition: 0.25s;
}

.navbar__list .navbar__link::after {
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background: #7264d6;
    bottom: 0;
    left: 0;
    transition: 0.25s;
}

.navbar__list .navbar__link:hover:after {
    width: 100%;
}

.navbar__list .navbar__link:hover {
    color: #212832;
}

.header-action {
    margin-left: auto;
}

.header-action__link {
    color: #212832;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-right: 28px;
}

.header-action__btn {
    min-width: 113px;
    --height: 52px;
    border-radius: 6px;
}

/* Hero */
.hero {
    margin-top: 34px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero__content {
    width: 46%;
}

.hero__content .hero__heading {
    width: 500px;
    color: #212832;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.17;
    margin-top: 12px;
}

.hero__content .hero__heading strong {
    color: #7264d6;
}

.hero__content .hero__desc {
    width: 540px;
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 20px;
}

.hero__content .email-form {
    position: relative;
    width: 540px;
    height: 74px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px;
    margin-top: 40px;
}

.hero__content .email-form input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: inherit;

    font-size: 1.6rem;
}

.hero__content .email-form input::placeholder {
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.hero__content .email__button {
    position: absolute;
    border-radius: 8px;
    background: #7264d6;
    border: none;
    outline: none;
    right: 8px;
}

.hero__content .commit {
    display: block;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    margin-top: 20px;
}

.hero__advertising {
    position: relative;
    margin-left: 168px;
}

.hero__advertising .hero__mobile {
    position: relative;
    width: 296px;
    height: 562px;
    border-radius: 40px;
    border: 12px solid #212832;
    background: #fff;
    padding: 11px;
}

.hero__mobile .rectangle {
    position: absolute;
    width: 144px;
    height: 36px;
    border-radius: 0px 0px 18px 18px;
    background: #3c2f60;
    top: -12px;
    left: 64px;
}

.master__card {
    position: relative;
    width: 250px;
    height: 150px;
    border-radius: 20px;
    background: linear-gradient(56deg, #8679e4 0%, #7264d6 100%);
    margin-top: 29px;
    padding: 16px;
    z-index: 1;
}

.master__card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.master__card-header .balance {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.master__card .account-balance {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2px;
}

.master__card-text {
    margin-top: 39px;
    display: flex;
    align-items: center;
}

.master__card-text span {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

.master__card-text span:nth-child(2) {
    margin-left: 12px;
}

.master__card-info {
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.master__card-info span {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 11px;
}

.master__card-info .name-holder {
    margin-left: 36px;
}

.master__card .master__card-decor1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.master__card .master__card-decor2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.hero__mobile .mobile__transaction {
    margin-top: 24px;
}

.mobile__transaction .transections {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile__transaction .feature-mobile__list {
    margin-top: 28px;
}

.feature-mobile__list .feature-mobile__item {
    display: flex;
    align-items: center;
    margin-top: 28px;
}

.feature-mobile__list .feature-mobile__info {
    margin-left: 14px;
}

.feature-mobile__info .feature-mobile__name {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.feature-mobile__info .feature-mobile__describe {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 3px;
}

.feature-mobile__list .feature-mobile__detail {
    margin-left: auto;
    text-align: right;
}

.feature-mobile__detail .feature-mobile__money {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.feature-mobile__detail .feature-mobile__date {
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 3px;
}

.hero__deposite {
    position: absolute;
    width: 174px;
    height: 46px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 113px;
    left: -101px;
    z-index: 1;
}

.hero__deposite .deposite__name {
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__deposite .deposite__money {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    margin-left: 19px;
}

.hero__interest {
    position: absolute;
    width: 130px;
    height: 130px;
    background-color: #da6464;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 127px;
    right: -174px;
    z-index: 1;
}

.hero__interest .interest__percent {
    color: #fff;
    font-size: 4.4rem;
    font-weight: 600;
}

.hero__interest span:nth-child(2) {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
}

.hero__fund {
    position: absolute;
    width: 124px;
    height: 68px;
    border-radius: 10px;
    background: #439f90;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    bottom: 61px;
    right: -74px;
}

.fund__info {
    display: flex;
    flex-direction: column;
}

.fund__info span:nth-child(1) {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.fund__info span:nth-child(2) {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1;
    margin-top: 3px;
}

/* Working */
.working {
    margin-top: 160px;
}

.working__inner {
    display: flex;
    justify-content: space-between;
    gap: 230px;
}

.working__image {
    position: relative;
    width: 40%;
}

.working__image .working__img {
    display: block;
    width: 456px;
    height: 619px;
    object-fit: cover;
    margin-left: 7px;
}

.working__image .working__background {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.working__image .message {
    position: absolute;
    width: 226px;
    height: 70px;
    border-radius: 8px;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    padding: 15px;
    display: flex;
    align-items: center;
    bottom: 96px;
    right: -107px;
}

.working__image .message .message-text {
    margin-left: 10px;
}

.message-text div:nth-child(1) {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.message-text div:nth-child(2) {
    color: #696d76;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    margin-top: 7px;
}

.working__image .working__card {
    position: absolute;
    top: 76px;
    right: 62px;
}

.working .working__info {
    margin-top: 29px;
}

.working__info .working__info-detail {
    margin-top: 70px;
}

.working__info-detail .detail {
    margin-top: 30px;
}

.working__info-detail .detail .title {
    width: 470px;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45;
}

.working__info-detail .detail .sub-title {
    width: 470px;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 16px;
}

/* Feature */
.feature {
    margin-top: 160px;
}

.feature__inner {
    display: flex;
    align-items: center;
}

.feature__content {
    width: 40%;
}

.feature__content ul {
    margin-top: 28px;
}

.feature__content ul .feature__salient {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.feature__content ul .feature__salient:first-child {
    margin-top: 0;
}

.feature__salient .dot {
    width: 12px;
    height: 12px;
    background: #7264d6;
    border-radius: 50%;
    margin-right: 12px;
}

.feature__salient .feature__salient-text {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.feature__content .feature__btn {
    margin-top: 38px;
    border-radius: 8px;
}

.feature__ads {
    position: relative;
    margin-left: 130px;
}

.feature__ads .master__card--feature {
    width: 482px;
    height: 322px;
    margin-top: 0;
    padding: 38px;
}

.master__card--feature .balance--feature {
    font-size: 2.4rem;
}

.master__card--feature .account-balance--feature {
    font-size: 3.2rem;
    margin-top: 10px;
}

.master__card--feature .feature__card-text {
    margin-top: 98px;
}

.master__card--feature .feature__card-text span:nth-child(1) {
    font-size: 2rem;
}

.master__card--feature .feature__card-text span:nth-child(2) {
    font-size: 2rem;
    margin-left: 26px;
}

.feature__card-info span {
    font-size: 2.2rem;
}

.feature__card-info span:nth-child(2) {
    margin-left: 81px;
}

.feature__ads .feature__decor {
    position: absolute;
    top: 1px;
    left: 4px;
    z-index: -1;
}

.feature__ads .feature__decor2 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.feature__ads .feature__ads-num1 {
    position: absolute;
    width: 276px;
    height: 86px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    padding: 23px 13px;
    display: flex;
    align-items: center;
    top: -48px;
    right: -88px;
    z-index: 1;
}

.feature__ads-num1 .num1-text {
    margin-left: 14px;
}

.feature__ads-num1 .num1-text div:nth-child(1) {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.feature__ads-num1 .num1-value div:nth-child(2),
.feature__ads-num1 .num1-text div:nth-child(2) {
    color: #696d76;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2px;
}

.feature__ads-num1 .num1-value {
    margin-left: auto;
}

.feature__ads-num1 .num1-value div:nth-child(1) {
    color: #212832;
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: right;
}

.feature__ads-num1 .num1-value div:nth-child(2) {
    text-align: right;
}

.feature__ads .feature__ads-num2 {
    position: absolute;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #439f90;
    padding: 15px;
    bottom: -55px;
    right: -88px;
    z-index: 1;
}

.feature__ads-num2 div:nth-child(2) {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 14px;
}

.feature__ads-num2 div:nth-child(3) {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 6px;
}

/* Feature 2 */
.feature--2 .feature__inner--2 {
    flex-direction: row-reverse;
    justify-content: space-between;
}

.feature2-ads {
    position: relative;
    margin-right: 230px;
}

.feature2-ads .feature2__image {
    display: block;
    width: 413px;
    height: 600px;
    object-fit: cover;
    margin-left: 28px;
}

.feature2-ads .feature2__background {
    position: absolute;
    width: 470px;
    height: 432px;
    object-fit: cover;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.feature2-ads .feature2__decor {
    position: absolute;
    right: -128px;
    bottom: 222px;
    z-index: 1;
}

.feature2-ads .payment-methods {
    position: absolute;
    width: 281px;
    height: 220px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.09);
    padding: 28px;
    right: -102px;
    bottom: 57px;
}

.payment-methods .payment-methods__text {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.payment-methods .payment-methods__list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
}

/* Testimonial */
.testimonial {
    margin-top: 160px;
}

.testimonial .testimonial__subject,
.testimonial .testimonial__heading {
    text-align: center;
}

.testimonial .testimonial__desc {
    width: 435px;
    color: #696d76;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin: 18px auto 0;
}

.testimonial .testimonial__clients {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
}

.testimonial__clients .client {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__clients .client .client__speech {
    position: relative;
    width: 570px;
    height: 254px;
    padding: 42px 28px;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.09);
    color: #696d76;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 34px; /* 154.545% */
    border-radius: 8px;
}

.testimonial__clients .client .client__speech::after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;

    border-top: 60px solid #fff;
    right: 50%;
    bottom: -60px;
    transform: translateX(50%);
    z-index: 1;
}

.testimonial__clients .client .client__avatar {
    margin-top: 96px;
    width: 104px;
    height: 104px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial__clients .client .client__name {
    color: #070052;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
    margin-top: 20px;
}

.testimonial__clients .client .client__job {
    color: #696d76;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    margin-top: 2px;
}

.testimonial .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 38px;
}

.testimonial .dots .dot {
    width: 22px;
    height: 6px;
    background: #fff;
    border: 1px solid #696d76;
}

.testimonial .dots .dot.active {
    background: #7264d6;
}

/* Blog */
.blog {
    margin-top: 160px;
}

.blog .blog__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__header .blog__heading {
    width: 359px;
    margin-top: 6px;
}

.blog__header .blog__desc {
    width: 435px;
    font-size: 16px;
    line-height: 1.75;
    margin-top: 18px;
}

.blog__header .blog__btn {
    min-width: 123px;
    border-radius: 8px;
}

.blog .blog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
}

.blog__list .blog__item {
    width: 570px;
    padding: 28px;
    display: flex;
    align-items: center;
    border: 1px solid #dfe2e8;
    background: #fff;
    border-radius: 12px;
    transition: 0.3s;
}

.blog__item .blog__img:hover .blog__item,
.blog__list .blog__item:hover {
    border: none;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}

.blog__list .blog__item .blog__img {
    width: 160px;
    height: 160px;
    border-radius: 12px;
    object-fit: cover;
}

.blog__item .blog__item-info {
    margin-left: 22px;
}

.blog__item .blog__item-info .blog__item-date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.blog__item .blog__item-info .blog__item-title {
    width: 332px;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
    margin-top: 10px;
}

.blog__item .blog__item-info .blog__item-read {
    display: block;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62;
    margin-top: 20px;
    transition: 0.3s;
}

.blog__item .blog__item-info .blog__item-read:hover {
    color: #7264d6;
}

/* App */
.app {
    margin-top: 160px;
}

.app .app__inner {
    position: relative;
    padding: 100px 112px;
    border-radius: 24px;
    background: #7264d6;
}

.app .app__inner div:nth-child(1) {
    text-align: center;
}

.app__inner .app__subject {
    color: #fff;
}

.app__inner .app__subject::before {
    background: #fff;
}

.app .app__inner .app__heading {
    text-align: center;
    color: #fff;
}

.app .app__inner .app__desc {
    width: 435px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin: 18px auto 0;
}

.app .app__inner .app__download {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    margin-top: 38px;
}

.app .app__inner .app__decor {
    position: absolute;
}

.app .app__inner .app__decor:nth-of-type(1) {
    top: 49px;
    left: 112px;
}

.app .app__inner .app__decor:nth-of-type(2) {
    top: 49px;
    right: 112px;
}

.app .app__inner .app__decor:nth-of-type(3) {
    bottom: 49px;
    left: 166px;
}

.app .app__inner .app__decor:nth-of-type(4) {
    bottom: 49px;
    right: 166px;
}
